header {
    text-align : center;
}

h1 {
    margin: 6vh 0;
    font-family: $mainTitle;
    letter-spacing: 0.3rem;
    font-size: 5vw;
    span {
        color: $redText;
    }
}

.filters {
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content:center;
    width : 90%;
    margin: 0 5%;
    p {
        flex: 100%;
        font-size: 2.5vh;
        padding-bottom : 2vh;
    }
    button {
        flex: 6%;
        min-width : 80px;
        max-width : 80px;
        cursor : pointer;
        border: none;
        border-radius: 20px;
        margin : 5px;
        padding : 10px 6px;
        font-weight: bold;
        background-color: rgba(255,255,255,0.5);
        &:hover {
            transform : scale(105%);
        }
    }
}

button.active {
    background-color: white;
    color: $redText;
    font-weight: bolder;
}